<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.berimbasket.app">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-sdk tools:overrideLibrary="co.ronash.pushe" />

    <permission
        android:name="ir.berimbasket.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ir.berimbasket.app.permission.C2D_MESSAGE" />
    <!-- Optional permissions -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".util.ApplicationLoader"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="ir.berimbasket.app"
                    android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ir.berimbasket.app" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_642362267038" />
        <meta-data
            android:name="co.ronash.pushe.cr"
            android:value="aHR0cDovLzNkOWJkMThjNDc0YjQ4Y2M5NWNlNzc5Nzk1NTM2NDQ3Ojc2ZmQ4MWVmZGI1OTQ3NWY5NDQ4OTFjMmJlODUyODEwQGNhLnB1c2hlLmlyLzExNjE2" />

        <activity
            android:name=".activity.ActivityHome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityLogin"
            android:label="@string/name_activity_login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ActivityRegister"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.ActivityUser" />
        <activity
            android:name=".activity.ActivityCreateStadium"
            android:label="@string/name_activity_create_stadium"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ActivitySetMarker"
            android:label="@string/name_activity_set_marker"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ActivitySetting"
            android:label="@string/name_activity_setting"
            android:theme="@style/StatusTransparent" />
        <activity
            android:name=".activity.ActivityPlayer"
            android:label="@string/name_activity_player"
            android:theme="@style/StatusTransparent" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.ActivityStadium"
            android:label="@string/title_activity_stadium"
            android:theme="@style/AppTheme" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b657b55f3cd6f6df9c0a3dc03209c7f7243bfd85" />

        <!--
          Optionally, register AnalyticsReceiver and AnalyticsService to support background
          dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

    </application>

</manifest>