<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.berimbasket.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--
    TODO: 4/30/2019 fix this sms receiver asap (it's not listening to sms now, maybe android 8.0+ API has breaking change
    -->
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <!--<uses-permission android:name="android.permission.READ_SMS" />-->

    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="true"
        android:configChanges="locale"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:fullBackupContent"
        tools:ignore="UnusedAttribute">

        <!-- meta -->
        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_642362267038" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b657b55f3cd6f6df9c0a3dc03209c7f7243bfd85" />
        <!-- End of meta -->

        <!-- Used by Google Maps -->
        <!-- library -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- End of library -->

        <!-- receiver -->
        <!--
        TODO: 4/30/2019 fix this sms receiver asap (it's not listening to sms now, maybe android 8.0+ API has breaking change
        -->
        <!--<receiver android:name=".broadcast.SmsReceivedBroadcast"-->
        <!--android:enabled="true"-->
        <!--android:exported="true"-->
        <!--android:permission="android.permission.BROADCAST_SMS">-->
        <!--<intent-filter android:priority="1000">-->
        <!--<action android:name="android.provider.Telephony.SMS_RECEIVED"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!--
          Optionally, register AnalyticsReceiver and AnalyticsService to support background
          dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <receiver android:name=".update.DownloadBroadCast">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <!-- End of receiver -->

        <!-- service -->
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <!-- End of service -->

        <!-- provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <!-- End of provider -->

        <!-- activity -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login"
                    android:pathPattern=".*"
                    android:scheme="berimbasket" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.landmark.LandmarkActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.player.PlayerActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/StatusTransparent" />
        <activity
            android:name=".ui.stadium.StadiumActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.browser.BrowserActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".ui.contact.DeveloperContactActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.internet.NoInternetActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label=""
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".ui.login.mobile.MobileLoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".ui.login.mobile.CountryListActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.donate.DonateActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <!-- End of activity -->
    </application>

</manifest>